<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>xml2rdf-webfrontend</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RDFServlet</display-name>
    <servlet-name>RDFServlet</servlet-name>
    <servlet-class>edu.toronto.cs.xml2rdf.web.RDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RDFServlet</servlet-name>
    <url-pattern>/data/rdf/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RDFViewerServlet</display-name>
    <servlet-name>RDFViewerServlet</servlet-name>
    <servlet-class>edu.toronto.cs.xml2rdf.web.RDFViewerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RDFViewerServlet</servlet-name>
    <url-pattern>/view/rdf/*</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>WARN</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>